{% extends "base.html" %}
{% block title %}
Лента записей
{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Лента записей</h1>
  {% for post_user in posts reversed %}
    <hr>
    <article>
      <ul>
        <li>
          {{ post_user.location }}
        </li>
        <li>
          {{ post_user.date }}
        </li>
        <li>
          <a href="{% url 'blog:category_posts' post_user.category %}">{{ post_user.category }}</a>
        </li>
      </ul>
      <p>
        {{ post_user.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' post_user.id %}">Читать полный текст</a>
    </article>
  {% endfor %}
</div>
{% endblock %}